#section-6{


   

    div{

        margin-top: 80px;

        @include md {
            grid-template-areas: 
            "sec4 sec40";
            display: grid;
            grid-template-columns:repeat(2, 1fr);
        }

        @include lg {
            grid-template-areas: 
            "sec4 sec40";
            display: grid;
            grid-template-columns:repeat(2, 1fr);
        }

        #sec40{

            // display: grid;
            grid-area: sec40;
             background-image: url("../img/location/main1.jpeg");
             background-size: cover;
             align-items: center;
            // height: 100vh;
            // width: 100vh;

             svg{
                position: absolute;
               margin-left: 00px;
              padding-top: 360px;
              width: 50vw;
                display: none;
              @include md{
               
                margin-left: -200px;
                width: 20vw;
        
    
            }
    
            @include lg{
                display: grid;
                margin-left: -100px;
                width: 30vw;
    
            }
               
                
               }
               
            aside{
                margin: 70px;
                
                text-align: left;
                
                position: absolute;
               
                @include lg{
                    left: 400px;

                }

                @include md{
                    left: 200px;

                }
                
                
               h1{
                background-color: #ffffff;
                color: #2A3150;
              
                font-size: 24px;
                padding-left: 100px;
                @include md{
                    font-size: 24px;
                    color: #2A3150;
                font-weight: 100;
                padding-left: 80px;
                padding-right: 0px;
                padding-top: 200px;
                text-align: left;
                font-size: 24px;
            
            
                    }
            
                    @include lg{
                    font-size: 48px;
                    color: #2A3150;
                font-weight: 100;
                
                padding-left: 20px;
                padding-top: 200px;
                text-align: left;
                padding: 0px;
                        
                    }
        
               }
        
               p{
                text-align: left;
                background-color: #ffffff;
                padding: 60px;
                
                font-size: 14px;
                padding-left: 100px;
        @include md{
            font-size: 14px;
    
    
            }
    
            @include lg{
            font-size: 18px;
            padding-left: 0px;
                
            }
               }
        
                  a{

                    @include md{

                        margin-right:10px;
                    }
                   
                    @include lg{
                        
                        margin-right: -250px;
                         font-size: 24px;
                        
                    }
                    
                    text-align: center;
                    display: flex-end;
                    
                    
                    padding-top: 90px;
                    // margin-bottom: 100px;
                    background-color: transparent;
                    border: transparent;
                    color: #2A3150;
                    cursor: pointer;
                    transition: 0.25s;
                    font-family: 'Noto Serif', serif;
                    font-weight: 700;
                    font-size: 24px;
                    &:hover,
                    &:active {
                        color: #C38583;
                    }
                   }



        }



    }


    #sec4{
        grid-area: sec4;

        svg{

            margin-left: 00px;
            margin-right: 0px;
            padding-top: 40px;
            padding-bottom: 40px;
            width: 100px;
            height: 560px;
          

           @include md{

            margin-left: 100px;
            margin-right: 100px;
            padding-top: 70px;
            padding-bottom: 70px;
            width: 100px;
            height: 560px;




        }


        @include lg{

        //     margin-left: 500px;
        //     margin-right: 100px;
        //     padding-top: 70px;
        //     padding-bottom: 70px;
        //    width: 1px;
        //    height: 300px;




        }
        



        }




    }
    



    }




}