#section-8{

    div{

        grid-template-areas: 
        ". sec3 ."
        ". sec4 .";
        display: grid;
        grid-template-columns:repeat(3, 1fr);

        @include md {
            grid-template-areas: 
            ". sec3 ."
            ". sec4 .";
            display: grid;
            grid-template-columns:repeat(3, 1fr);
        }

        @include lg {
            grid-template-areas: 
            ". sec3 ."
            ". sec4 .";
            display: grid;
            grid-template-columns:repeat(3, 1fr);
        }

        #sec3{
            margin-top: 60px;
            // display: grid;
            grid-area: sec3;
             background-image: url("../img/contact/restaurant2.jpeg");
             background-size: cover;
             align-items: center;
             width: 80vw;
             
    
             svg{
                position: absolute;
               margin-left: -700px;
              padding-top: 40px;
              width: 50vw;
    
              @include md{
               
                margin-left: -400px;
                width: 20vw;
        
    
            }
    
            @include lg{
                
                margin-left: -850px;
                width: 30vw;
    
            }
               
                
               }
               
            aside{
                margin: 70px;
                
                text-align: left;
                text-align: right;
                position: relative;
               
                @include lg{
                    left: 480px;
    
                }
    
                @include md{
                    left: 200px;
    
                }
                
                
               h1{
                // background-color: #ffffff;
                color: #2A3150;
                background-color: white;
                font-size: 20px;
                
                color: #2A3150;
            font-weight: 100;
            padding-left: 30px;
            padding-right: 0px;
            padding-top: 20px;
            text-align: left;
            font-size: 24px;
    
                @include md{
                    font-size: 24px;
                    color: #2A3150;
                font-weight: 100;
                padding-left: 30px;
                padding-right: 0px;
                padding-top: 20px;
                text-align: left;
                font-size: 24px;
            
            
                    }
            
                    @include lg{
                    font-size: 48px;
                    color: #2A3150;
                font-weight: 100;
                
                padding-top: 200px;
                text-align: left;
                padding: 60px;
                        
                    }
        
               }
        
               p{
                background-color: #F2F4FB;
                text-align: left;
                // background-color: #ffffff;
                padding: 40px;
                padding-left: 0px;
                font-size: 14px;
                font-size: 14px;
    
                padding-left: 30px;
    
        @include md{
            font-size: 14px;
    
            padding-left: 30px;
            }
    
            @include lg{
            font-size: 18px;
            padding: 50px;
                
            }
               }
        
                  a{
                    
                    @include md{
    
                        margin-right:10px;
                    }
                   
                    @include lg{
                        
                        margin-right: 50px;
                        //  font-size: 24px;
                        
                    }
                    
                    text-align: center;
                    display: flex-end;
                    
                    
                    padding-top: 50px;
                    // margin-bottom: 100px;
                    background-color: transparent;
                    border: transparent;
                    color: #2A3150;
                    cursor: pointer;
                    transition: 0.25s;
                    font-family: 'Noto Serif', serif;
                    font-weight: 700;
                    font-size: 24px;
                    &:hover,
                    &:active {
                        color: #C38583;
                    }
                   }
    
    
    
        }
    
    
    
    }
    
    #sec4{
        
      
        text-align: center;
       margin-top: 70px;
        grid-area: sec4;


        >form{

            #name1{
                padding: 20px;
                width: 27vw;
                background-color: #ffffff;



            }
            #email1{
                width: 27vw;
                background-color: #ffffff;



            }
            #subject1{
                
                width: 27vw;
                background-color: #ffffff;



            }


            #message1{
                padding-right: 40px;
                padding-top: 20px;
                padding-bottom: 80px;
                width: 83vw;
                background-color: #ffffff;



            }


            #submit1{

                width: 60vw;
                background-color: #ffffff;

               
    

    font-family: 'Noto Serif', serif;
    border: 1 px;
    cursor: pointer;
    font-size: rem-calc(30);

    &:hover{

        background-color:  #adbbe9;
        transition: .5s;
    }

    

    
    }

               


            }




        }






    }

    }
    



