/* =============
    Section 2
============= */
#section-2{
   
    

    div{

        @include md {
            grid-template-areas: 
            "sec3 sec4";
            display: grid;
            grid-template-columns:repeat(2, 1fr);
        }

        @include lg {
            grid-template-areas: 
            "sec3 sec4";
            display: grid;
            grid-template-columns:repeat(2, 1fr);
        }

        #sec3{

            // display: grid;
            grid-area: sec3;
             background-image: url("../img/illu/chateau.jpg");
             background-size: cover;
             align-items: center;


             svg{
                position: absolute;
               margin-left: -600px;
              padding-top: 40px;
              width: 50vw;

              @include md{
               
                margin-left: -400px;
                width: 20vw;
        
    
            }
    
            @include lg{
                
                margin-left: -500px;
                width: 30vw;
    
            }
               
                
               }
               
            aside{
                margin: 70px;
                
                text-align: left;
                text-align: right;
                position: relative;
               
                @include lg{
                    left: 480px;

                }

                @include md{
                    left: 200px;

                }
                
                
               h1{
                // background-color: #ffffff;
                color: #2A3150;
                
                font-size: 24px;

                @include md{
                    font-size: 24px;
                    color: #2A3150;
                font-weight: 100;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 200px;
                text-align: left;
                font-size: 24px;
            
            
                    }
            
                    @include lg{
                    font-size: 48px;
                    color: #2A3150;
                font-weight: 100;
                
                padding-top: 200px;
                text-align: left;
                padding: 60px;
                        
                    }
        
               }
        
               p{
                text-align: left;
                // background-color: #ffffff;
                padding: 40px;
                padding-left: 0px;
                font-size: 14px;

        @include md{
            font-size: 14px;
    
    
            }
    
            @include lg{
            font-size: 18px;
            padding: 60px;
                
            }
               }
        
                   button{

                    @include md{

                        margin-right:10px;
                    }
                   
                    @include lg{
                        
                        margin-right: -250px;
                         font-size: 20px;
                        
                    }
                    
                    text-align: center;
                    display: flex-end;
                    
                    
                    margin-top: 50px;
                    // margin-bottom: 100px;
                    background-color: transparent;
                    border: transparent;
                    color: #2A3150;
                    cursor: pointer;
                    transition: 0.25s;
                    font-family: 'Noto Serif', serif;
                    font-weight: 700;
                    font-size: 20px;
                    &:hover,
                    &:active {
                        color: #C38583;
                    }
                   }



        }



    }


    #sec4{
        grid-area: sec4;

        svg{

            margin-left: 200px;
            margin-right: 100px;
            padding-top: 40px;
            padding-bottom: 40px;
            width: 100px;
            height: 560px;
          

           @include md{

            margin-left: 200px;
            margin-right: 100px;
            padding-top: 70px;
            padding-bottom: 70px;
            width: 100px;
            height: 560px;




        }


        @include lg{

            margin-left: 500px;
            margin-right: 100px;
            padding-top: 70px;
            padding-bottom: 70px;
           width: 180px;
           height: 860px;




        }
        



        }




    }
    



    }

}


    
