/* =============
    Section 4
============= */
#section-4{

    z-index: 500;
    
 div{
    margin-bottom: 80px;
    margin-top: 70px;
    aside{
           
                  h1{
                background-color: #ffffff;
                color: #2A3150;
                font-weight: 100;
                text-align: center;
                font-size: 24px;
        
                @include md{
                font-size: 24px;
                }
        
                @include lg{
                font-size: 48px; 
                }
        
                           }

           }

    #sec7{
        
        text-align: center;
        margin: 110px;
        align-content: center;
        gap: 40px;

    

        .selectdiv{
            
            grid-area: onee;

        }

        .selectdiv2{


            grid-area: twoo;

        }


        .adults2{


            grid-area: threee;


        }


        .adults3{

            grid-area: fourr;


        }

        @include md {
            grid-template-areas: 
            "onee twoo"
            "threee fourr";
            display: grid;
            grid-template-columns:repeat(2, 1fr);
        }
    
        @include lg {
            grid-template-areas: 
            "onee twoo threee fourr";
            display: grid;
            grid-template-columns:repeat(4, 1fr);
        }

          }

 }

 
 button{

    
    
    
    display: flex;
    margin-left: 140px;
    margin-top: 50px;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Noto Serif', serif;
    background-color: transparent;
    border: 1 px;
    color: #2A3150;
    cursor: pointer;
    font-size: rem-calc(30);
    transition: 0.25s;

    &:hover,
    &:active {
        color: #C38583;
    }
    


 }

 

}