/* =============
    Header
============= */
header {
    
    left: 0;
    // position: fixed;
    top: 0;
    width: 100%;
    height: 1000px;
    
    z-index: 1000;
    background-image: url("../img/hero/hero1.jpg");
    background-size: cover;
    background-position: center;


    #circle-cover{
        

        @include md{
            
            position: fixed;
		
		width: 100%;
		height: 250vh;
		// width: 100px;

		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 800;


        }
        @include lg{
			display: none;
            

		}

		position: fixed;
		
		width: 100%;
		height: 200vh;
		// width: 100px;

		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 800;

		
	

		#circle-svg{
          
			position:fixed;
			top:0;
			right:0;
			width: 100%;
            

		

		}


		#circle-svg2{
           
			position:fixed;
			top:0;
			right:0;
			width: 100%;
            
		

		}

	
	}

    >div {
        
        
        display: grid;
        grid-template-areas: 
        "logo . burger"
        "nav nav nav";
        grid-template-columns: 20% 60% 20%;

        @include lg {
            grid-template-areas: 
            "logo search book"
            "logo . nav";
            display: grid;
            grid-template-columns:repeat(3, 1fr);
        }

        #logo-container {
          
            grid-area: logo;
            z-index: 700;
            img{
                margin-top: 0px;
                padding-left: 30px;
                @include lg{
                    margin-top: 10px;
                    padding-left: 40px;
                }
               
            }
        }

        #burger-container {
            
            z-index: 1000;
            grid-area: burger;
            padding: 10px;
            padding-top: 10px;
            cursor: pointer;
           

            // #burger-svg{
            //     position: fixed;
            //     z-index: 1;
            //     grid-area: burger;
            //     width: 15vw;
			// height: 15vh;

            // }
            
            @include lg {
                display: none !important;
            }

           
            
        }

        #nav-container {
            
            background-color: transparent;
            z-index: 1000;
			position: fixed;
			height: 50vh;
			grid-area: nav;
			 @include md{
                
                font-size: 40px;
                
             }
            font-size: 20px;

            @include lg {
                display: block !important;
                position: static;
                height: 100%;
                width: 100%;
                font-size: 20px;
                padding-top: 60px;
            }
        }

        #search{

            display: none;

            @include lg{
                align-items: right;
            justify-content: flex-end;
            display: flex;
            grid-area: search;
            margin-right: -650px;
            padding-bottom: 20px;
            font-size: 30px;
            font-weight: 50px;
            button{
               
               
            background-color: transparent;
            border: transparent;
            color: #2A3150;
            cursor: pointer;
            transition: 0.25s;

            &:hover,
            &:active {
                color: #C38583;
            }
            }


            }
            
        }

        #Book{
            
            display: none;

            @include lg{

                padding: 30px;
                align-items: right;
                justify-content: flex-end;
                display: flex;
                grid-area: book;
                button{
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-family: 'Noto Serif', serif;
                background-color: transparent;
                border: 1 px;
                color: #2A3150;
                cursor: pointer;
                font-size: rem-calc(30);
                transition: 0.25s;
    
                &:hover,
                &:active {
                    color: #C38583;
                }
                }


            }
            
           
        }

        #comment{
            position: absolute;
            padding-top: 650px;
            font-size: 30px;
            padding-left: 30px;
            z-index: 2;

            h1{
                
                color: #ffffff;
                @include md {
              
                    padding-bottom: 5px;
                    font-size: 50px;
                }
        
                @include lg{
                    font-size: 64px;
                }
        
                @include xl{
                    font-size: 64px;
        
                }
    
                span {
                   
                    color: #2A3150;
                }
            }
        }


    }
}